{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard :: Message Details {% endblock %}

{% block body %}

    {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <h5 class="m-0 text-dark">Message Details</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right">
                            <a href="{{ path('app_dashboard_message_index') }}" class="text-secondary">
                                Close <span class="fa fa-window-close"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">

                <div class="row px-2 py-3">
                    <div class="col-lg-12">
                        <small class="text-secondary small">
                            {% if isAdmin %}
                                <a href="{{ path('app_dashboard_message_edit', {id:message.id}) }}"
                                   class="fs-13">
                                    #{{ message.id }}
                                </a>
                                <span class="text-light-50 px-1">|</span>
                            {% endif %}
                            {{ message.name }} <span class="text-light-50 px-1">|</span>
                            {{ message.email }}
                        </small>

                        <h4 class="mt-2">{{ message.subject }}</h4>
                        <p>{{ message.messageContent.content }}</p>

                        {% if message.seenAt %}
                            <small class="text-secondary" title="{{ message.seenAt|date('Y-m-d H:i:s') }}">
                                <span class="text-warning fa fa-clock pr-1"></span>seen {{ timeAgo(message.seenAt) }}
                            </small>
                        {% else %}
                            <small class="text-secondary" title="{{ message.createdAt|date('Y-m-d H:i:s') }}">
                                <span class="text-warning fa fa-clock pr-1"></span>{{ timeAgo(message.createdAt) }}
                            </small>
                        {% endif %}

                        <p class="small pb-0 mb-0 mt-3">
                            <a href="{{ path('app_dashboard_message_index') }}">
                                <span class="fa fa-arrow-alt-circle-left fa-sm"></span> Back to Messages
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </div>

{% endblock %}