{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard :: Edit Issue Details {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <h5 class="m-0 text-dark">Edit Issue Details</h5>
                    </div>
                    <div class="col-4">
                        <div class="breadcrumb float-right">
                            <a href="{{ path('app_dashboard_tickets_index') }}" class="text-secondary">
                                Close <span class="fa fa-window-close"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">

                {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

                <div class="row px-2 py-3">
                    <div class="col-lg-12">

                        <small class="text-secondary small mb-3">
                            {{ issue.customer.company.name }} <span class="text-light-50">|</span>
                            {{ issue.project.title }} <span class="text-light-50">|</span>
                            T-{{ issue.ticketNo }}
                            <span class="text-light-50">|</span>
                            by {{ issue.customer.name }}
                        </small>

                        <form action="{{ path('app_dashboard_ticket_store', {no:issue.ticketNo}) }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="row mt-2">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="iO7nM4yT4bG2sO44">
                                            Project <span class="text-danger">*</span>
                                        </label>
                                        <select class="form-control" name="project" id="iO7nM4yT4bG2sO44" required>
                                            {% for project in projects %}
                                                <option value="{{ project.id }}" {{ project.id == issue.project.id ? 'selected' : '' }}>
                                                    {{ project.title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="mb-3">
                                        <label for="V9xO3aD7v22" class="form-label">Title <span
                                                    class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="V9xO3aD7v22"
                                               placeholder="{{ issue.title }}"
                                               value="{{ issue.title }}" name="title" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="mb-3">
                                        <label for="V9xO3aD7v22" class="form-label">Description <span
                                                    class="text-danger">*</span></label>
                                        <div id="editor"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="iO7nM4yT4bG2sO44">
                                            Assignee <span class="text-danger">*</span>
                                        </label>
                                        {% set hasAssignee = issue.assignee and issue.assignee.name %}
                                        <select class="form-control" name="assignee" id="iO7nM4yT4bG2sO44" required
                                                {{ isAdmin or app.user.ninja ? '' : 'disabled' }}>
                                            <option value="0">Unassigned</option>
                                            {% for assignee in assignees %}
                                                <option value="{{ assignee.id }}" {{ hasAssignee and assignee.name == issue.assignee.name ? 'selected' : '' }}>
                                                    {{ assignee.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <small class="text-secondary">{{ not isAdmin ? 'Assignee can only be changed by Admins.' : '' }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="d-none">
                                <input type="hidden" name="id" value="{{ issue.id }}">
                                <input type="hidden" name="pid" value="{{ issue.project.id }}">
                            </div>

                            {% include "dashboard/component/edit_save_btn.html.twig" with {id:"formSave"} %}

                        </form>
                    </div>
                </div>

            </div>

        </section>

        <script>
            let editor = document.getElementById('editor');
            editor.innerHTML = '{{ issue.description|raw }}'
        </script>
    </div>

{% endblock %}