{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard Tickets {% endblock %}

{% block body %}

    <div class="content-wrapper">

        {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 mt-1">
                        <h5 class="m-0 text-dark mt-1">Tickets Overview</h5>
                    </div>
                    <div class="col-6 mt-1">
                        <div class=" float-right">

                            {% if isAdmin %}
                                <button class="btn btn-secondary btn-headers"
                                        data-toggle="modal" data-target="#filterTicketModal">
                                    <span class="fa fa-filter fa-sm"></span> <span class="ps-1 md-d-none">Filter</span>
                                </button>
                            {% endif %}

                            <button class="btn btn-secondary btn-headers"
                                    data-toggle="modal" data-target="#newTicketModal">
                                <span class="fa fa-plus fa-sm"></span> <span
                                        class="ps-1 md-d-none">Add Ticket</span>
                            </button>

                            <button class="btn btn-secondary btn-headers"
                                    data-toggle="modal" data-target="#infosModal">
                                <span class="fa fa-info-circle fa-sm"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                <div class="row mb-3">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link {{ status == 'ALl' or status == '' ? 'active-tab' : 'tab' }}"
                                   href="{{ path('app_dashboard_tickets_index', {status: ''}) }}">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ status == statusOpen ? 'active-tab' : 'tab' }}"
                                   href="{{ path('app_dashboard_tickets_index', {status: statusOpen}) }}">
                                    {{ statusOpen }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ status == statusInProgress ? 'active-tab' : 'tab' }}"
                                   href="{{ path('app_dashboard_tickets_index', {status: statusInProgress}) }}">
                                    {{ statusInProgress }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ status == statusPending ? 'active-tab' : 'tab' }}"
                                   href="{{ path('app_dashboard_tickets_index', {status: statusPending}) }}">
                                    {{ statusPending }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ status == statusResolved ? 'active-tab' : 'tab' }}"
                                   href="{{ path('app_dashboard_tickets_index', {status: statusResolved}) }}">
                                    {{ statusResolved }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ status == statusClosed ? 'active-tab' : 'tab' }}"
                                   href="{{ path('app_dashboard_tickets_index', {status: statusClosed}) }}">
                                    {{ statusClosed }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {% include 'dashboard/tickets/partial/table_content.html.twig' %}
                    </div>
                </div>

                <div class="row">
                    <section class="col-lg-7 connectedSortable"></section>
                    <section class="col-lg-5 connectedSortable"></section>
                </div>
            </div>
        </section>
    </div>

    {% include 'dashboard/tickets/modal/new.html.twig' %}
    {% include 'dashboard/tickets/modal/infos.html.twig' %}

    {% if isAdmin %}
        {% include 'dashboard/tickets/modal/filter.html.twig' %}
    {% endif %}

{% endblock %}