{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard Tickets {% endblock %}

{% block body %}

    <div class="content-wrapper">

        {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 mt-1">
                        <h5 class="m-0 text-dark mt-1">Tickets Overview</h5>
                    </div>
                    <div class="col-6 mt-1">
                        <div class=" float-right">

                            {% if isAdmin %}
                                <button class="btn btn-secondary btn-headers"
                                        data-toggle="modal" data-target="#filterTicketModal">
                                    <span class="fa fa-filter fa-sm"></span> <span class="ps-1 md-d-none">Filter</span>
                                </button>
                            {% endif %}

                            <button class="btn btn-secondary btn-headers"
                                    data-toggle="modal" data-target="#newTicketModal">
                                <span class="fa fa-plus fa-sm"></span> <span
                                        class="ps-1 md-d-none">Add Ticket</span>
                            </button>

                            <button class="btn btn-secondary btn-headers"
                                    data-toggle="dropdown" href="#" aria-expanded="false">
                                <i class="fa fa-ellipsis-v fa-sm px-1"></i>
                            </button>
                            <div class="dropdown-menu">
                                {% if isAdmin %}
                                    <div class="dropdown-item pointer menu-text-color fs-15"
                                         data-toggle="modal" data-target="#filterAttachmentsModal">
                                        <span class="fa fa-filter fa-sm pr-1"></span>
                                        <span>Filter Attachments</span>
                                    </div>
                                {% endif %}
                                <form action="{{ path('app_contact_us_index') }}" method="get"
                                      class="dropdown-item pointer menu-text-color fs-15">
                                    <span class="fa fa-question fa-sm pr-1"></span>
                                    <span onclick="this.closest('form').submit();">Help & Support</span>
                                </form>
                                <div class="dropdown-item pointer menu-text-color fs-15"
                                     data-toggle="modal" data-target="#reportBugModal">
                                    <span class="fa fa-bug fa-sm pr-1"></span>
                                    <span>Report a Bug</span>
                                </div>
                                <div class="dropdown-item pointer menu-text-color fs-15"
                                     data-toggle="modal" data-target="#infosModal">
                                    <span class="fa fa-info-circle fa-sm pr-1"></span>
                                    <span>Infos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills">

                            {% for tab in tabs %}
                                <li class="nav-item">
                                    <a class="nav-link {{ status|upper == tab.name|upper ? 'active-tab' : 'tab' }}"
                                       href="{{ path('app_dashboard_tickets_index', {status: tab.name|lower}) }}">
                                        {{ tab.name|capitalize }}
                                        <span class="small tab-badge">
                                            {{ '(' ~ tab.counter ~ ')' }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>

            <div class="container-fluid area-section">
                <div class="row py-3">
                    <div class="col-lg-12">
                        {% include 'dashboard/tickets/partial/table_content.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'dashboard/tickets/modal/new.html.twig' %}
    {% include 'dashboard/tickets/modal/report_bug.html.twig' %}
    {% include 'dashboard/tickets/modal/infos.html.twig' %}

    {% if isAdmin %}
        {% include 'dashboard/tickets/modal/filter.html.twig' %}
        {% include 'dashboard/tickets/modal/filter_attachments.html.twig' %}
    {% endif %}

{% endblock %}