{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard :: Issue Details {% endblock %}

{% block body %}

    {% set isAdminOrEmployee = is_granted('ROLE_SUPER_ADMIN') or app.user.isNinja %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <h5 class="m-0 text-dark">Issue Details</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right">
                            <a href="{{ path('app_dashboard_tickets_index') }}" class="text-secondary">
                                Close <span class="fa fa-window-close"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">

            <div class="container-fluid area-section">
                <div class="row px-3 py-3">
                    <div class="col-lg-12">

                        {% if issue %}

                            <small class="text-secondary small">
                                {{ issue.customer.company.name }} <span class="text-light-50">|</span>
                                {{ issue.project.title }} <span class="text-light-50">|</span>
                                T-{{ issue.ticketNo }}
                                <div class="float-right mx-1">
                                    <a class="text-info" data-toggle="dropdown" href="#" aria-expanded="false">
                                        <span class="md-d-none">Menu</span> <i class="fa fa-ellipsis-h fa-sm"></i>
                                    </a>
                                    <div class="dropdown-menu">

                                        <form class="dropdown-item pointer menu-text-color"
                                              action="{{ path('app_dashboard_ticket_edit', {id:issue.id}) }}"
                                              onclick="this.closest('form').submit();"
                                              method="post">
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ hash(csrf_token(issue.id)) }}">
                                            <span class="fa fa-edit fa-sm pr-2"></span>
                                            <span class="font-size-14">Edit issue</span>
                                            <input type="hidden" name="pid" value="{{ issue.project.id }}">
                                        </form>

                                        {% if isAdminOrEmployee %}
                                            <form class="dropdown-item pointer menu-text-color" action="#"
                                                  data-toggle="modal" data-target="#logTimeModal">
                                                <span class="fa fa-clock fa-sm pr-2"></span>
                                                <span class="font-size-14">Log spent time</span>
                                            </form>
                                            <form class="dropdown-item pointer menu-text-color" action="#"
                                                  data-toggle="modal" data-target="#changeStatusModal">
                                                <span class="fa fa-edit fa-sm pr-2"></span>
                                                <span class="font-size-14">Edit Status</span>
                                            </form>
                                            <form class="dropdown-item pointer menu-text-color" action="#"
                                                  data-toggle="modal" data-target="#assigneeModal">
                                                <span class="fa fa-user-edit fa-sm pr-2"></span>
                                                <span class="font-size-14">Edit Assignee</span>
                                            </form>

                                            {% if issue.internalNote == null and is_granted('ROLE_SUPER_ADMIN') %}
                                                <form class="dropdown-item pointer menu-text-color" action="#"
                                                      data-toggle="modal" data-target="#internalNoteModal">
                                                    <span class="fa fa-sticky-note fa-sm pr-2"></span>
                                                    <span class="font-size-14">Add Internal Note</span>
                                                </form>
                                            {% endif %}

                                            <form class="dropdown-item pointer menu-text-color" action="#"
                                                  data-toggle="modal" data-target="#linkIssueModal">
                                                <span class="fa fa-link fa-sm pr-2"></span>
                                                <span class="font-size-14">Link issue to</span>
                                            </form>

                                        {% endif %}

                                        <form class="dropdown-item pointer menu-text-color" action="#"
                                              data-toggle="modal" data-target="#priorityModal">
                                            <span class="fa fa-edit fa-sm pr-2"></span>
                                            <span class="font-size-14">Edit Priority</span>
                                        </form>
                                        <form class="dropdown-item pointer menu-text-color" action="#"
                                              data-toggle="modal" data-target="#newAttachmentModal">
                                            <span class="fa fa-upload fa-sm pr-2"></span>
                                            <span class="font-size-14">Upload Attachment</span>
                                        </form>
                                        <form class="dropdown-item pointer menu-text-color" action="#"
                                              data-toggle="modal" data-target="#deleteIssueModal">
                                            <span class="fa fa-trash-alt fa-xs pr-2"></span>
                                            <span class="font-size-14">Delete issue</span>
                                        </form>

                                    </div>
                                </div>
                            </small>

                            {% if issue.linkToTicket and issue.linkToTicketId %}
                                <div class="alert-issue small mt-3">
                                    <form action="{{ path('app_dashboard_ticket_view', {id: issue.linkToTicketId}) }}"
                                          method="post">
                                        <input type="hidden" name="csrf"
                                               value="{{ hash(csrf_token(issue.linkToTicketId)) }}">
                                        <span onclick="this.closest('form').submit();"
                                              title="View issue T-{{ issue.linkToTicket }}">
                                            This issue has been linked to
                                            <span class="pointer text-primary">
                                                T-{{ issue.linkToTicket }}
                                            </span>
                                            <input type="hidden" name="pid" value="{{ issue.project.id }}">
                                        </span>
                                    </form>
                                </div>
                            {% endif %}

                            <h4 class="my-3">{{ issue.title }}</h4>

                            <div class="text-secondary">
                                <div class="pm-bottom">{{ issue.description|raw }}</div>
                                <p class="mb-1"><b>Type: </b> <span>{{ issue.type.name }}</span></p>
                                <p class="mb-1"><b>Issue created by: </b> <span>{{ issue.customer.name }}</span></p>
                                <p class="mb-1">
                                    <b>Label: </b>
                                    <span class="ticket-label" style="color: {{ issue.label.color }}">
                                        {{ issue.label.name }}
                                    </span>
                                </p>
                                <p class="mb-1">
                                    <b>Priority: </b>
                                    <span class="fa fa-circle fa-sm"
                                          style="color: {{ issue.priority.textColor }}"></span>
                                    <span>{{ issue.priority.name }}</span>
                                </p>
                                <p class="mb-1">
                                    <b>Status: </b>
                                    <span class="ticket-status"
                                          style="background: {{ issue.status ? issue.status.color : '#9d8900' }}">
                                         {{ issue.status ? issue.status.name : 'Open' }}
                                    </span>
                                </p>
                                <p class="mb-1"><b>Assignee: </b>
                                    <span>{{ issue.assignee ? issue.assignee.name : 'unassigned' }}</span></p>
                                {% if isAdminOrEmployee %}
                                    <p class="mb-1" title="Logged time in minutes: {{ issue.timeSpentInMinutes }}"><b>Spent
                                            Time: </b>
                                        <span>{{ issue.timeSpentInMinutes > 0 ? convertToHoursMinutes(issue.timeSpentInMinutes) : '00:00' }}</span>
                                    </p>
                                {% endif %}
                                <p class="mb-1">
                                    <b>Modified at: </b>
                                    <span title="{{ issue.updatedAt|date }}">{{ timeAgo(issue.updatedAt) }}</span>
                                </p>
                                <p>
                                    <b>Created at: </b>
                                    <span title="{{ issue.createdAt|date }}">
                                        {{ timeAgo(issue.createdAt) }}
                                    </span>
                                </p>
                            </div>
                        {% else %}
                            <p>Data could not be found!</p>
                        {% endif %}

                    </div>
                </div>
            </div>

            {% if issue.internalNote and is_granted('ROLE_SUPER_ADMIN') %}
                <div class="container-fluid area-section">
                    <div class="row mb-3">
                        <div class="col-12">
                            <h5 class="px-3 pt-3 pb-2">Internal Note</h5>
                            <p class="px-3">{{ issue.internalNote }}</p>

                            <div class="d-flex float-right">
                                <button class="btn btn-light btn-sm mr-2"
                                        data-toggle="modal" data-target="#internalNoteModal">
                                    <span class="fa fa-edit text-primary fa-xs"></span>
                                    <small class="text-primary">EDIT</small>
                                </button>
                                <button class="btn btn-light btn-sm"
                                        data-toggle="modal" data-target="#clearInternalNoteModal">
                                    <span class="fa fa-trash text-danger fa-xs"></span>
                                    <small class="text-danger">DELETE</small>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if count(attachments) > 0 %}
                <div class="container-fluid area-section">
                    <div class="row mb-3">
                        <div class="col-12">
                            <h5 class="px-3 pt-3 pb-2">Attachments</h5>
                            {% include 'dashboard/tickets/partial/table_attachment_content.html.twig' %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if count(ticketActivities) > 0 and is_granted('ROLE_SUPER_ADMIN') %}
                <div class="container-fluid area-section">
                    <div class="row px-3 py-3">
                        <div class="col">
                            <h5 class="mb-3">Activities</h5>

                            <div class="mb-3">
                                {% include 'dashboard/tickets/partial/table_activities_content.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="container-fluid area-section">

                <div class="row pl-3 mt-3">
                    <div class="col">
                        <h5>Comments</h5>
                    </div>
                </div>

                {% if count(comments) > 0 %}
                    {% for comment in comments %}
                        <div class="row px-3 my-3">
                            <div class="col-12">
                                <div class="row" style="border-bottom: 1px dashed #dcdcdc">
                                    <div class="text-center">
                                        <img class="mr-2" height="40px" width="40px" style="border-radius: 50px;"
                                             src="{{ asset('lte/img/avatar-160x160.png') }}" alt="Avatar">
                                    </div>
                                    <div class="pl-2">
                                        <h6>
                                            {{ comment.commentedByName }}
                                            <small class="ml-2 text-secondary">{{ timeAgo(comment.createdAt) }}</small>
                                        </h6>
                                        <div class="pm-bottom">
                                            {{ comment.description|raw }}
                                        </div>
                                        {#  <small class="text-secondary">
                                            Reply <span class="px-2">.</span>
                                            Like {{ comment.likeCounter > 0 ? comment.likeCounter : '' }}<span
                                                    class="px-2">.</span>
                                            Dislike {{ comment.disLikeCounter > 0 ? comment.disLikeCounter : '' }}
                                        </small> #}
                                    </div>
                                </div>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <form action="{{ path('app_dashboard_ticket_comment_delete') }}"
                                          class="float-right"
                                          method="post">
                                        <button class="btn btn-light btn-sm" type="submit"
                                                title="Delete Comment permanently!">
                                            <span class="fa fa-trash text-danger fa-xs"></span>
                                            <small class="text-danger">DELETE</small>
                                        </button>
                                        <span class="text-white">
                                            <input type="hidden" name="comment" value="{{ comment.id }}">
                                        </span>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="row px-3 py-2">
                    <div class="col">
                        <form action="{{ path('app_dashboard_ticket_comment_new') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div id="editor"></div>
                            <div class="my-3">
                                <button class="btn btn-primary" id="formSave">
                                    <span class="fa fa-check fa-sm pr-1"></span> Add Comment
                                </button>
                                <input type="hidden" name="tId" value="{{ issue.id }}">
                                <input type="hidden" name="pId" value="{{ issue.project.id }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>

    {% if isAdminOrEmployee %}
        {% include 'dashboard/tickets/modal/internal_note.html.twig' %}
        {% include 'dashboard/tickets/modal/internal_note_nullable.html.twig' %}
        {% include 'dashboard/tickets/modal/log_time.html.twig' %}
        {% include 'dashboard/tickets/modal/change_status.html.twig' %}
        {% include 'dashboard/tickets/modal/change_assignee.html.twig' %}
        {% include 'dashboard/tickets/modal/link_issue.html.twig' %}
    {% endif %}

    {% include 'dashboard/tickets/modal/change_priority.html.twig' %}
    {% include 'dashboard/tickets/modal/upload.html.twig' with{ticketId: issue.id} %}
    {% include 'dashboard/tickets/modal/delete_issue.html.twig' %}

{% endblock %}