{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard :: Edit Project Details {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <h5 class="m-0 text-dark">Edit Project Details</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right">
                            <a href="{{ path('app_dashboard_projects_index') }}" class="text-secondary">
                                Close <span class="fa fa-window-close"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid area-section">

                <div class="row px-2 py-3">
                    <div class="col-lg-6">
                        <form action="{{ path('app_dashboard_project_store', {id:project.id}) }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="mb-3">
                                <label for="vV9xO3aD7v" class="form-label">
                                    Company <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" id="vV9xO3aD7v"
                                       placeholder="{{ project.company.name }}"
                                       value="{{ project.company.name }}" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="V9xO3aD7v" class="form-label">Title <span
                                            class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="V9xO3aD7v" placeholder="Type title"
                                       value="{{ project.title }}" name="title">
                            </div>
                            <div class="mb-3">
                                <label for="V9xO3aDuw" class="form-label">URL</label>
                                <input type="url" class="form-control" id="V9xO3aDuw" placeholder="https://example.de"
                                       value="{{ project.url }}" name="url"
                                       onclick="this.value = 'https://'">
                                <small class="text-secondary">
                                    Link to Homepage if it is available. Otherwise, let it empty.
                                </small>
                            </div>
                            <div class="mb-3">
                                <label for="2hV9xO3aD7v" class="form-label">Description</label>
                                <textarea type="text" class="form-control"
                                          spellcheck="false"
                                          ondragstart="return false"
                                          ondrop="return false"
                                          dir="auto"
                                          autocapitalize="off"
                                          autocomplete="off"
                                          translate="no"
                                          id="2hV9xO3aD7v"
                                          rows="3"
                                          placeholder="Type description"
                                          name="description">{{ project.description }}</textarea>
                                <small class="text-secondary">
                                    Description must be less than 10 words.
                                </small>
                            </div>

                            {% include "dashboard/component/edit_save_btn.html.twig" %}

                        </form>
                    </div>
                </div>

            </div>
        </section>
    </div>

{% endblock %}