<div class="modal fade" id="assigneeModal" tabindex="-1" role="dialog" aria-labelledby="assigneeModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ path('app_dashboard_ticket_store_assignee', {id: issue.id}) }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assigneeModalTitle">
                        Assignee
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.ninja %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="aa7nM4yT4bG2sO44">
                                        Select Assigner <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control" name="assignee" id="aa7nM4yT4bG2sO44">
                                        <option value="0" selected>Unassigned</option>
                                        {% for user in assigners %}
                                            <option value="{{ user.id }}"
                                                    {{ issue.assignee and issue.assignee.id == user.id ? 'selected' : '' }}>
                                                {{ user.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="pid" value="{{ issue.project.id }}">
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-outline-primary">Assign</button>
                </div>
            </div>
        </form>
    </div>
</div>