<div class="modal fade" id="newAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="newAttachmentModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ path('app_dashboard_ticket_helper_upload') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newAttachmentModalTitle">
                        Upload new Attachment
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">

                    <div class="form-group mt-2">
                        <label for="attachment">Attachment</label>
                        {% include 'component/drag_and_drop.html.twig' with{
                            id: 'attachment',
                            name: 'attachment',
                            required: true
                        } %}
                        <small class="text-secondary">This field is required</small>
                        <input type="hidden" name="pid" value="{{ issue.project.id }}">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal"
                            id="cancelFile">Cancel
                    </button>
                    <button type="submit" class="btn btn-outline-primary" id="formSave">Upload</button>
                    <input type="hidden" name="tId" value="{{ ticketId }}">
                    <input type="hidden" name="pid" value="{{ projectId }}">
                </div>
            </div>
        </form>
    </div>
</div>