<nav class="main-header navbar navbar-expand navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_home') }}" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_profile') }}" class="nav-link">Profile</a>
        </li>
    </ul>

    {% if search is defined and search.searchable %}
        <form class="form-inline ml-3" action="{{ path(search.path) }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                       aria-label="Search" name="keyword" required>
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="hidden" name="backTo" value="{{ search.backTo }}">
                </div>
            </div>
        </form>
    {% else %}
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                       aria-label="Search" disabled readonly>
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    {% endif %}

    <ul class="navbar-nav ml-auto">
        <li>
            <a href="tel:{{ phoneNumber() }}" class="nav-link pr-2" title="{{ 'Call ' ~ phoneNumber() }}">
                <i class="fa fa-headset text-secondary"></i>
            </a>
        </li>
        <li class="mr-3 nav-item dropdown">
            {% set countNewMessages = unseenMessages(app.user.email)['count'] %}
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                {% if countNewMessages > 0 %}
                    <span class="badge badge-warning navbar-badge">{{ countNewMessages }}</span>
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">Messages</span>
                <div class="dropdown-divider"></div>
                <a href="{{ path('app_dashboard_message_index') }}" class="dropdown-item">
                    {% set lastMessageDateTime = unseenMessages(app.user.email)['lastMessageDateTime'] ? timeAgo(unseenMessages(app.user.email)['lastMessageDateTime']) : '' %}
                    <i class="fas fa-envelope mr-2"></i> {{ countNewMessages }} new messages
                    <span class="float-right text-muted text-sm">{{ lastMessageDateTime }}</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('app_dashboard_message_index') }}" class="dropdown-item dropdown-footer">
                    See All Messages
                </a>
            </div>
        </li>
    </ul>
</nav>

{% include 'component/logout_confirmation.html.twig' %}
