<div class="card-body table-responsive bg-white p-0 mb-3">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr class="fs-14">
                <th>#</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Token'|trans }}</th>
                <th>{{ 'Role'|trans }}</th>
                <th>{{ 'Verified'|trans }}</th>
                <th>{{ 'Deleted'|trans }}</th>
                <th>{{ 'Updated'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in users %}
            <tr class="fs-14">
                <td>{{ row.id }}</td>
                <td>{{ row.name|capitalize }}</td>
                <td>{{ row.email }}</td>
                <td>
                    {% if row.token %}
                        <span class="text-danger">{{ row.token }}</span>
                    {% else %}
                        ---
                    {% endif %}
                </td>
                <td>
                    <span class="fs-13">{{ role(row) }}</span>
                </td>
                <td>{{ row.isVerified ? faThumbsUp() : faThumbsDown() }}</td>
                <td>{{ row.isDeleted ? 'Yes' : 'No' }}</td>

                <td title="{{ row.updatedAt|date }}">{{ timeAgo(row.updatedAt) }}</td>

                <td title="{{ row.createdAt|date }}">{{ timeAgo(row.createdAt) }}</td>

                <td>
                    <form action="{{ path('app_dashboard_user_edit', {id:row.id}) }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token(row.id) }}">
                        <button class="btn small-btn btn-outline-primary" type="submit">
                            <span class="fa fa-pen fa-sm"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>