{% if count(attachments) > 0 %}
    {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}
    <div class="card-body table-responsive bg-white p-0 by-3">
        <table class="table table-hover table-sm text-nowrap">
            <thead>
            <tr class="fs-14">
                <th>{{ 'File-No'|trans }}</th>
                <th>{{ 'Filename'|trans }}</th>
                <th>{{ 'Type'|trans }}</th>
                <th>{{ 'Size'|trans }}</th>
                <th>{{ 'Uploaded'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for attachment in attachments %}
                <tr class="fs-14">
                    <td>{{ attachment.fileNo }}</td>
                    <td>
                        <form action="{{ path('app_dashboard_ticket_helper_show', {hash: hash(attachment.filename)}) }}"
                              method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <span class="pointer text-primary"
                                  onclick="this.closest('form').submit();">{{ attachment.originalFileName }}
                            </span>
                            <div class="d-none">
                                <input type="hidden" name="tId" value="{{ attachment.ticket.id }}">
                                <input type="hidden" name="pid" value="{{ attachment.ticket.project.id }}">
                                <input type="hidden" name="aId" value="{{ attachment.id }}">
                            </div>
                        </form>
                    </td>
                    <td>{{ attachment.extension|upper }}</td>
                    <td>{{ formatSizeUnits(attachment.size) }}</td>

                    <td title="{{ attachment.createdAt|date }}">{{ timeAgo(attachment.createdAt) }}</td>

                    <td class="d-flex">
                        <form action="{{ path('app_dashboard_ticket_helper_delete_file', {hash: hash(attachment.filename)}) }}"
                              method="post">
                            <input type="hidden" name="csrf" value="{{ hash(csrf_token(attachment.id)) }}">

                            <button class="btn btn-light btn-sm" type="submit"
                                    title="Delete Attachment permanently!">
                                <span class="fa fa-trash text-danger fa-xs"></span>
                                <small class="text-danger">DELETE</small>
                            </button>
                           <div>
                               <input type="hidden" name="tId" value="{{ attachment.ticket.id }}">
                               <input type="hidden" name="pid" value="{{ attachment.ticket.project.id }}">
                               <input type="hidden" name="aId" value="{{ attachment.id }}">
                           </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <span class="pl-3 fs-14 text-secondary">
        <span class="fa fa-info-circle fa-sm"></span> This issue has no attachments!
    </span>
{% endif %}