{% if count(issues) > 0 %}
    {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}
    <div class="card-body table-responsive bg-white p-0 mb-3">
        <table class="table table-hover text-nowrap">
            <thead>
            <tr class="fs-14">
                <th>ID</th>
                {% if isAdmin %}
                    <th>{{ 'Company'|trans }}</th>
                {% endif %}
                <th>{{ 'Created By'|trans }}</th>
                <th>{{ 'Project'|trans }}</th>
                <th>{{ 'Label'|trans }}</th>
                <th>{{ 'Priority'|trans }}</th>
                <th>{{ 'Assignee'|trans }}</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>{{ 'Spent-time'|trans }}</th>
                {% endif %}
                <th>{{ 'Modified'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for row in issues %}
                <tr class="fs-14">
                    <td>T-{{ row.ticketNo }}</td>

                    {% if isAdmin %}
                        <td>
                            <form action="{{ path('app_dashboard_company_edit', {id:row.customer.company.id}) }}"
                                  method="post">
                                <input type="hidden" name="csrf"
                                       value="{{ hash(csrf_token(row.customer.company.id)) }}">
                                <span class="text-primary pointer"
                                      onclick="this.closest('form').submit();">{{ row.customer.company.name }}
                                    </span>
                            </form>
                        </td>
                    {% endif %}

                    {% if app.user.isTeamLeader %}
                        <td>
                            <a href="{{ path('app_dashboard_user_edit', {id:row.customer.id}) }}">
                                {{ row.customer.name }}
                            </a>
                        </td>
                    {% else %}
                        <td>{{ row.customer.name }}</td>
                    {% endif %}

                    <td>
                        {{ row.project.title }}
                    </td>

                    <td>
                        <span class="ticket-label" style="color: {{ row.label.color }}">{{ row.label.name }}</span>
                    </td>

                    <td>
                        <span class="fa fa-circle fa-sm" style="color: {{ row.priority.textColor }}"></span>
                        {{ row.priority.name }}
                    </td>


                    <td>{{ row.assignee ? row.assignee.name : '---' }}</td>

                    <td>
                        <form class="pointer"
                              onclick="this.closest('form').submit();"
                              action="{{ path('app_dashboard_ticket_view', {id: row.id}) }}" method="post">
                            <input type="hidden" name="csrf" value="{{ hash(csrf_token(row.id)) }}">
                            <input type="hidden" name="pid" value="{{ row.project.id }}">
                            <span class="link-primary" title="{{ row.title }}">{{ row.title|slice(0,35) ~ '..' }}</span>

                            {% if hasTicketComment(row.id) %}
                                <span class="fa fa-comment-dots" title="Comments available"></span>
                            {% endif %}

                        </form>
                    </td>

                    <td>
                        <span class="ticket-status cursor-help"
                              style="background: {{ row.status ? row.status.color : '#9d8900' }}"
                              title=" {{ row.status ? row.status.description : 'Being Processed' }}">
                             {{ row.status ? row.status.name : 'Open' }}
                        </span>
                    </td>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>
                            <span>{{ row.timeSpentInMinutes > 0 ? convertToHoursMinutes(row.timeSpentInMinutes) : '00:00' }}</span>
                        </td>
                    {% endif %}

                    <td title="{{ row.updatedAt|date }}">{{ timeAgo(row.updatedAt) }}</td>

                    <td title="{{ row.createdAt|date }}">{{ timeAgo(row.createdAt) }}</td>

                    <td>
                        <a class="text-secondary" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-ellipsis-h fa-sm"></i>
                        </a>
                        <div class="dropdown-menu">
                            <form class="dropdown-item pointer menu-text-color"
                                  onclick="this.closest('form').submit();"
                                  action="{{ path('app_dashboard_ticket_view', {id: row.id}) }}" method="post">
                                <input type="hidden" name="csrf" value="{{ hash(csrf_token(row.id)) }}">
                                <span>
                                    <span class="fa fa-eye fa-sm pr-1"></span>
                                    <span>View</span>
                                    <input type="hidden" name="pid" value="{{ row.project.id }}">
                                </span>
                            </form>
                            <form class="dropdown-item pointer menu-text-color"
                                  action="{{ path('app_dashboard_ticket_edit', {id:row.id}) }}"
                                  onclick="this.closest('form').submit();"
                                  method="post">
                                <input type="hidden" name="csrf" value="{{ hash(csrf_token(row.id)) }}">
                                <span>
                                    <span class="fa fa-edit fa-sm pr-1"></span>
                                    <span>Edit</span>
                                    <input type="hidden" name="pid" value="{{ row.project.id }}">
                                </span>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% else %}
    <small class="pl-3 text-secondary">
        <span class="fa fa-info-circle fa-sm"></span> No data has been found!
    </small>
{% endif %}