{% if count(messages) > 0 %}

    <div class="card-body table-responsive bg-white p-0 mb-3">
        <table class="table table-hover text-nowrap">
            <thead>
            <tr class="fs-14">
                <th>ID</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'E-mail'|trans }}</th>
                <th>{{ 'Subject'|trans }}</th>
                <th>{{ 'Updated'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for row in messages %}
                <tr class="fs-14">
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                    <td>
                        <form class="pointer text-primary" action="{{ path('app_dashboard_message_view', {id:row.id}) }}">
                            <input type="hidden" name="csrf" value="{{ hash(csrf_token(row.id)) }}">
                            <span onclick="this.closest('form').submit();"
                                class="{{ row.isDeleted ? 'ins' : '' }}">
                                {{ row.subject }}
                            </span>
                        </form>
                    </td>
                    <td title="{{ row.updatedAt|date }}">{{ timeAgo(row.updatedAt) }}</td>
                    <td title="{{ row.createdAt|date }}">{{ timeAgo(row.createdAt) }}</td>
                    <td>
                        <a class="text-secondary" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-ellipsis-h fa-sm"></i>
                        </a>
                        <div class="dropdown-menu">
                            <form class="dropdown-item pointer menu-text-color"
                                  action="{{ path('app_dashboard_message_delete', {id:row.id}) }}"
                                  onclick="this.closest('form').submit();"
                                  method="post">
                                <input type="hidden" name="csrf" value="{{ hash(csrf_token(row.id)) }}">
                                <span>
                                        <span class="fa fa-trash fa-sm pr-1"></span>
                                        <span>Delete</span>
                                    </span>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {% include 'dashboard/component/no_data.html.twig' with{
        title: 'No Messages',
        subTitle: 'No messages has been found.'
    } %}
{% endif %}