{% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

{% if isAdmin %}

    <div class="card-body table-responsive bg-white p-0 mb-3">
        <table class="table table-hover text-nowrap">
            <thead>
            <tr class="fs-14">
                <th>{{ '#'|trans }}</th>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'TicketCloseNotification'|trans }}</th>
                <th>{{ 'Modified'|trans }}</th>
                <th>{{ 'Created'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for row in settings %}
                <tr class="fs-14">
                    <td>{{ row.id }}</td>
                    <td>
                        <form class="pointer text-primary"
                              onclick="this.closest('form').submit();"
                              action="{{ path('app_dashboard_user_edit', {id:row.user.id}) }}"
                              method="post">
                            <input type="hidden" name="csrf" value="{{ hash(csrf_token(row.user.id)) }}">
                            {{ row.user.name }}
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('app_dashboard_settings_store') }}"
                              method="post"
                              title="An E-mail will be sent to user directly if the status of ticket updated to Resolved or to Closed.">
                            <img src="{{ asset( row.notifyCloseTicket ? 'lte/img/toggle2-on.svg' : 'lte/img/toggle2-off.svg') }}" class="pointer"
                                 onclick="this.closest('form').submit();"
                                 alt="Toggle">
                            <input type="hidden" name="config" value="{{ row.notifyCloseTicket ? 'on' : 'off' }}">
                            <input type="hidden" name="uId" value="{{ row.user.id }}">
                            <input type="hidden" name="path" value="{{ app.request.get('_route') }}">
                        </form>
                    </td>
                    <td title="{{ row.updatedAt|date }}">{{ timeAgo(row.updatedAt) }}</td>
                    <td title="{{ row.createdAt|date }}">{{ timeAgo(row.createdAt) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}