<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ path('app_dashboard_system_logs_filter_index') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">
                        Filter System-Logs
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">

                    <div class="row">
                        <div class="col">
                                <div class="form-group">
                                    <label for="iO7nM4yT4bG2sO00">
                                        Event
                                    </label>
                                    <select class="form-control" name="event" id="iO7nM4yT4bG2sO00">
                                        <option value="all" selected>All Events</option>
                                        {% for event in logEvents %}
                                            <option value="{{ event }}">{{ event }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            {% set hashId = hash() %}
                            <label for="{{ hashId }}" class="form-label">
                                Date from <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control datetimeSelectorFrom"
                                   id="{{ hashId }}"
                                   placeholder="{{ dateTimeFrom }}" name="dateFrom"
                                   style="background: #fff !important;"
                                   value="{{ dateTimeFrom }}">
                        </div>
                        <div class="col-lg-6">
                            {% set hashId = hash() %}
                            <label for="{{ hashId }}" class="form-label">
                                Date to <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control datetimeSelectorTo" id="{{ hashId }}"
                                   placeholder="{{ dateTimeTo }}"
                                   style="background: #fff !important;"
                                   value="{{ dateTimeTo }}" name="dateTo">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-primary">Apply now</button>
                </div>
            </div>
        </form>
    </div>
</div>