<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalTitle"
     aria-hidden="true">

    {% set isAdmin = is_granted('ROLE_SUPER_ADMIN') %}

    <div class="modal-dialog" role="document">
        <form action="{{ path('app_dashboard_user_new') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newUserModalTitle">
                        New User
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">

                    {% if isAdmin %}
                        <p class="modal-info">
                            Add company if not exists. The first customer added by Admin will have a Team-Leader
                            position which has extra permission than others.
                            The customer will have a customer role.
                        </p>
                    {% endif %}

                    <div class="row">
                        <div class="{{ isAdmin ? 'col-lg-6' : 'col-lg-12' }}">
                            <div class="form-group">
                                <label for="iO7nM4yT4bG2sO5i" class="form-label">
                                    Name <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" id="iO7nM4yT4bG2sO5i" placeholder="John Doe"
                                       name="name"
                                       required>
                            </div>
                        </div>

                        {% if isAdmin %}
                            <div class="col-lg-6">
                                <label for="iO7nM4yT4bG2sO00">
                                    Company <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" name="company" id="iO7nM4yT4bG2sO00" required>
                                    <option value="0" selected disabled>Select company</option>
                                    {% for company in companies %}
                                        <option value="{{ company.id }}">{{ company.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="iO7nM4yT4bG2sO5itt" class="form-label">
                            E-mail <span class="text-danger">*</span>
                        </label>
                        <input type="email" class="form-control" id="iO7nM4yT4bG2sO5itt" placeholder="j.doe@example.com"
                               name="email"
                               required>
                        <small class="text-secondary">
                            E-mail confirmation will not be sent. E-mail will be directly verified.
                        </small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-primary">Add User</button>
                </div>
            </div>
        </form>
    </div>
</div>