{% extends 'dashboard/layout/base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ countIssues }}</h3>
                                <p>Issues</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-ticket-alt"></i>
                            </div>
                            <a href="{{ path('app_dashboard_tickets_index') }}" class="small-box-footer">More info <i
                                        class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>{{ countOpenIssues }}</h3>
                                <p>Open Issues</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-book-open"></i>
                            </div>
                            <a href="{{ path('app_dashboard_tickets_index', {status: 'Open'}) }}" class="small-box-footer">More info <i
                                        class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>{{ countIssuesInProgress }}</h3>
                                <p>Issues In Progress</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <a href="{{ path('app_dashboard_tickets_index', {status: 'In-Progress'}) }}" class="small-box-footer">More info <i
                                        class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ countClosedIssues }}</h3>
                                <p>Resolved Issues</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <a href="{{ path('app_dashboard_tickets_index', {status: 'Resolved'}) }}" class="small-box-footer">More info <i
                                        class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <section class="col-lg-7 connectedSortable"></section>
                    <section class="col-lg-5 connectedSortable"></section>
                </div>
            </div>
        </section>

    </div>

{% endblock %}