<nav class="navbar bg-white">
    <div class="container">
        <a href="{{ app.request.schemeAndHttpHost }}" class="navbar-brand">
            <img src="{{ asset('help_desk.png?v=1.0') }}" class="logo" alt="{{ appName() }}">
        </a>
        <div class="d-flex">
            {% if is_granted('ROLE_USER') %}
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-light dropdown-toggle text-secondary"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                            aria-expanded="false">
                        <span class="bi bi-person-circle pe-1"></span> {{ app.user.name }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a href="{{ path('app_home') }}" class="dropdown-item fs-15" type="button">
                                <span class="bi bi-house pe-1"></span> Home</a>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CUSTOMER') %}
                            <li>
                                <a href="{{ path('app_dashboard_index') }}" class="dropdown-item fs-15">
                                    <span class="bi bi-speedometer2 pe-1"></span> Dashboard
                                </a>
                            </li>
                        {% endif %}
                        <li><a href="{{ path('app_profile') }}" class="dropdown-item fs-15" type="button">
                                <span class="bi bi-person pe-1"></span> Profile</a>
                        </li>
                        <li><a href="{{ path('app_logout') }}" class="dropdown-item fs-15" type="button">
                                <span class="bi bi-door-closed pe-1"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ path('app_auth') }}" class="text-decoration-none text-secondary fs-15">
                    Login <span class="bi bi-person"></span>
                </a>
                <div class="dropstart me-2 ms-4">
                    <a class="text-secondary fw-bold fs-15" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <ul class="dropdown-menu fs-14">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_legal_imprint') }}">
                                <span class="bi bi-layout-split me-1 text-secondary"></span> Imprint
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_legal_privacy_policy') }}">
                                <span class="bi bi-file-earmark-text me-1 text-secondary"></span> Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_contact_us_index') }}">
                                <span class="bi bi-envelope-arrow-up me-1 text-secondary"></span> Contact us
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>